#header {
    background-color: #fe6f68;
    border-bottom: 16px solid black;
}

#header p {
    color: #27a79f;
    font-weight: bolder;
    font-size: x-large;
}

#header p strong {
    color: #27a79f;
}

#main {
    background-color: #27a79f;
    min-height: 1024px;
}

#main .title {
    margin-top: 24px;
}

#main .container img {
    margin-top: 32px;
    max-width: 728px;
}

#main .subtitle {
    margin-top: 48px;
}

#main .title {
    color: #fe6f68;
}

#footer {
    border-top: 16px solid black;
    background-color: #fe6f68;
}
