#header {
    background-color: rgb(22, 98, 219);
    border-bottom: 16px solid yellow;
}

#header p {
    color: rgb(247, 249, 255);
}

#header p strong {
    color: white;
}

#main {
    background-color: beige;
    min-height: 1024px;
}

#main .title {
    margin-top: 24px;
}

#main .container img {
    max-width: 512px;
}

#main .subtitle {
    margin-top: 48px;
}

#footer {
    border-top: 16px solid yellow;
    background-color: rgb(135, 222, 218);
}
