html,body {
    margin: 0;
    height: 100%;
    background-color: #000000;
    font-family: 'Space Mono'
}

section.main {
    margin-top: 64px;
    padding: 32px;
}

section.main p {
    font-size: 130%;
}

p.slogan {
    color: #0F6292;
}

p.description {
    color: #16FF00;
    margin-top: 64px;
}

p.contact {
    color: #FFED00;
    margin-top: 128px;
}

.logo {
    max-width: 312px;
}

a {
    color: white;
}
